@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --font-fira: "Fira Sans", ui-sans-serif, system-ui, sans-serif;
    --font-mont: "Montserrat", ui-sans-serif, system-ui, sans-serif;
    --font-underline: "Montserrat Underline", ui-sans-serif, system-ui, sans-serif;
    /* #5a7dff */
    --color-cobalt: oklch(63.23% 0.1966 268.84);
    /* sizing */
    --breakpoint-sm: 40rem;
    --breakpoint-xl: 80rem;
}
